doctype html
html
    head
        title Greetings
        //- link(rel="stylesheet", href="style.css")
    body
        center

            h1 Hello World!!
            p Welcome To This Boring Website
            p Rendered By Pug 
